*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  color: #333;
  font-family: "PingFangSC-Regular", "PingFang SC";
  line-height: 1.5;
  -webkit-overflow-scrolling: touch;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: top;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font: inherit;
  color: inherit;
}

label {
  display: inline-block;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
}
